body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Header */
.background {
    position: absolute;
    width: 100%;
    margin-top: -5%;
}
.logo {
    position: absolute;
    margin-top: 1%;
    margin-left: 10%;
    color: white;
    font-weight: 900;
    font-size: 2.2em;
}
/* Menu */
.menu_element_0 {
    position: absolute;
    margin-top: 1%;
    margin-left: 50%;
    color: white;
    font-weight: 500;
    font-size: 1em;
    border-bottom: 2px solid white;
}
.menu_element_1 {
    position: absolute;
    margin-top: 1%;
    margin-left: 56%;
    color: white;
    font-weight: 500;
    font-size: 1em;
}
.menu_element_2 {
    position: absolute;
    margin-top: 1%;
    margin-left: 62%;
    color: white;
    font-weight: 500;
    font-size: 1em;
}
.menu_element_3 {
    position: absolute;
    margin-top: 1%;
    margin-left: 68%;
    color: white;
    font-weight: 500;
    font-size: 1em;
}
/* Article selector buttons */
.article_element_0 {
    position: absolute;
    margin-top: 18%;
    margin-left: 80%;
    color: #146ae3;
    font-weight: 500;
    font-size: 1.5em;
    padding-left: 10px;
    border-left: 3px solid #146ae3;
}
.article_element_1 {
    position: absolute;
    margin-top: 22%;
    margin-left: 80%;
    color: #146ae3;
    font-weight: 500;
    font-size: 1.5em;
    padding-left: 10px;
    border-left: 0px solid #146ae3;
}
.article_element_2 {
    position: absolute;
    margin-top: 26%;
    margin-left: 80%;
    color: #146ae3;
    font-weight: 500;
    font-size: 1.5em;
    padding-left: 10px;
    border-left: 0px solid #146ae3;
}
/* Article content */
.article_title {
    position: absolute;
    margin-top: 23.5%;
    margin-left: 8%;
    font-weight: 600;
    font-size: 1.7em;
    color: #0249ad;
}
.article_text {
    position: absolute;
    margin-top: 27%;
    margin-left: 7%;
    width: 65%;
}
/* Search bar */
.search {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 75%;
    width: 13%;
    height: 3%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}
/* Login form */
.login_mail {
    position: absolute;
    margin-top: 10%;
    margin-left: 17%;
    width: 13%;
    height: 3%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}
.login_pass {
    position: absolute;
    margin-top: 13%;
    margin-left: 17%;
    width: 13%;
    height: 3%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}
.login_enter {
    position: absolute;
    margin-top: 16%;
    margin-left: 22%;
    width: 9%;
    height: 3%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
}
/* Form elements */
.form_element {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
.form_button {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
    background-color: crimson;
}
.form_button_add {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
    background-color: forestgreen;
}
.animal_container {
    position: absolute;
    width: 40%;
    margin-top: 25%;
    margin-left: 30%;
}
.add_animal {
    position: absolute;
    margin-top: 22%;
    margin-left: 45%;
    width: 10%;
    height: 3%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    border: 0px;
    color: white;
    padding: 5px;
    background-color: #146ae3;
}
/* Contact form */
.contact_email {
    position: absolute;
    margin-top: 27%;
    margin-left: 10%;
    width: 13%;
    height: 3%;
    background-color: #ffffff;
    border: 2px solid #146ae3;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}
.contact_note {
    position: absolute;
    margin-top: 30%;
    margin-left: 10%;
    width: 30%;
    height: 20%;
    background-color: #ffffff;
    border: 2px solid #146ae3;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}
.contact_send {
    position: absolute;
    margin-top: 27%;
    margin-left: 25%;
    width: 8%;
    height: 4.5%;
    background-color: #146ae3;
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 4px;
    padding-left: 12px;
}